[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group zzz-old Administrators_imported
	create = group zzz-old i9500 maintainers
	forgeCommitter = group zzz-old i9500 maintainers
	label-Code-Review = -2..+2 group zzz-old i9500 maintainers
	label-Verified = -1..+1 group zzz-old i9500 maintainers
	rebase = group zzz-old i9500 maintainers
	submit = group zzz-old i9500 maintainers
[submit]
	action = rebase if necessary
[project]
	state = read only
